<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input label="Nome Completo" label-placement="floating" type="text" placeholder="Seu nome completo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Email" label-placement="floating" type="email" placeholder="seu@email.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Senha" label-placement="floating" type="password" placeholder="Sua senha"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top">Cadastrar</ion-button>

    <ion-text class="ion-text-center ion-margin-top">
      <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
    </ion-text>
  </div>
</ion-content>