<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro-de-tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro-de-tarefa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="titulo" placeholder="Digite o título da tarefa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição da tarefa</ion-label>
    <ion-input [(ngModel)]="descricao" placeholder="Descreva aqui"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Responsável</ion-label>
    <ion-select [(ngModel)]="responsavel" placeholder="Selecione um responsável">
    <ion-select-option *ngFor="let usuario of nomesDisponiveis" [value]="usuario">
      {{ usuario.nome }}
    </ion-select-option>
  </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nome da Etapa</ion-label>
    <ion-input [(ngModel)]="novaEtapa" placeholder="Digite o nome da etapa"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="adicionarEtapa()">Adicionar Etapa</ion-button>

  <ion-list>
    <ion-item *ngFor="let etapa of etapas; let i = index">
      {{ i + 1 }}. {{ etapa }}
      <ion-button fill="clear" color="danger" slot="end" (click)="removerEtapa(i)">
        🗑️
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="salvarTarefa()">Salvar Tarefa</ion-button>
  </div>
</ion-content>
