<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalhes-tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tarefa">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ tarefa.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Responsável:</strong> {{ tarefa.responsavel?.nome}}</p>
      <p><strong>Descrição:</strong> {{ tarefa.descricao }}</p>
      <p><strong>Etapas:</strong></p>
       <ion-list>
        <ion-item *ngFor="let etapa of tarefa.etapas; let i = index">
          <ion-label>
            {{ etapa.nome }}
            - {{ etapa.concluida ? '✅ Concluída' : '❌ Não concluída' }}
          </ion-label>
          <ion-checkbox
            slot="end"
            [(ngModel)]="etapa.concluida"
            (ionChange)="atualizarEtapa(i)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-label>
        <strong>Progresso da tarefa:</strong>
      
      </ion-label>

       <ion-button expand="block" color="success" (click)="salvarTarefa()">Salvar Tarefa</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>